services:
  redis:
    image: redis:7
    ports:
      - "6379:6379"

  queueservice:
    build: .
    ports:
      - "5000:8080"
    depends_on:
      - redis
    environment:
      - ConnectionStrings__Redis=redis:6379
